@use "../abstracts/variables" as *;

.heading {
  &-primary {
    font-size: 3rem;
    font-weight: 600;
    color: $primary-color;
    letter-spacing: -0.0469rem;
  }
}

.btn {
  transition: all 0.35s;
  border: none;

  &-pill {
    border-radius: 10rem;
  }

  &-primary {
    background-color: $primary-color;

    &:hover {
      background-color: $primary-tint-2;
    }
  }
}

.footer {
  font-size: 1.5rem;
  font-weight: 500;
}
