@use "../abstracts/variables" as *;

.product-card {
  box-shadow: 0 0.5rem 0.5rem rgba($black, 0.1);
  border-radius: 0.5rem;
  transition: all 0.35s;

  img {
    aspect-ratio: 272/389;
  }

  &:hover {
    transform: translateY(-0.625rem);
  }

  .star {
    width: 1rem;
    height: 1rem;

    path {
      fill: $primary-tint-1;
    }
  }

  .product-info {
    border-top: 0.0625rem solid $primary-tint-5;

    .product-price {
      font-size: 1.125rem;
      font-weight: 600;
    }

    .product-title {
      font-size: 1.125rem;
      font-weight: 500;
      transition: all 0.25s;

      &:hover,
      &:active {
        color: $primary-color;
      }
    }
  }
}
