@use "../abstracts/variables" as *;

.search-field {
  input {
    border: 0.0625rem solid $primary-color;
    border-radius: 10rem 0 0 10rem;
    font-weight: 500;
  }

  .search-icon-container {
    background-color: $primary-color;
    border-radius: 0 10rem 10rem 0;
    cursor: pointer;

    .search-icon {
      width: 1.5rem;
      height: 1.5rem;

      path {
        fill: $white;
      }
    }
  }
}
